<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC113 Social Todo </title>
</head>

{% if user.is_authenticated %}
    <h1>Welcome {{user.first_name}}</h1>
    {% if task_list %}
        <h1>Your Tasks</h1>
        <hr></hr>
        <ul>
        {% for task in task_list %}
            <li class="tasks-list-item">
                
                {% if task.owner == 'yukai@email.com' %}
                <b>this is your task</b>
                {% else %}
                <b>NOT your task</b>
                {% endif %}
                
                <br>
                
                <b>Title: </b>{{ task.title }}
                <br>
                <b>Description: </b>{{ task.description }}
                <br>
                <b>Owner: </b>{{ task.owner }}
                <br>
                <a href="completeTask">Mark complete</a>
                <br>
                {% if task.isComplete %}
                    <b><font color='green'>COMPLETED :)</font></b>
                {% else %}
                    <b><font color='red'>NOT COMPLETED :(</font></b>
                {% endif %}
                
                <form action="deleteTask" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="taskId" value={{task.id}}>
                    <input type="submit" name="delete-task" class="delete-task" value="DELETE ME!!">
                </form>
                
                <form action="completeTask" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="taskId" value={{task.id}}>
                    <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">
                </form>
                <hr>
                </hr>

            
            </li>

        {% endfor %}
        </ul>
    {% else %}
        <p>No tasks to show.</p>
    {% endif %}
    
    <div>
         
     <h1>Add a new task HERE</h1>
    <!-- <form action="createTask" method="POST">-->
    <!--     {% csrf_token %}-->
         <!--<input type="hidden" name="email" value={{user.email}}>-->
         <!--<label for="title">Task title</label>-->
         <!--<input name="title" type="text"><br>-->
         <!--<label for="description">Task Description</label>-->
         <!--<input name="description" type="text">-->
         <!--<br>-->
         <!--Collaborators<br>-->
         <!--<input name="collaborator1" type="email"><br>-->
         <!--<input name="collaborator2" type="email"><br>-->
         <!--<input name="collaborator3" type="email"><br>-->
         <!--<input type="submit" class="create-task-submit">-->
    <!--     hihi how are you? :)-->
    <!--     {{ form.as_p }}-->
    <!--</form>        -->
    {% block content %}
    
        <form action="createTask" method="POST">
            {% csrf_token %}

            {{ task_Form.as_p }}
            
            <input name="collab1" type="email"><br>
            <input name="collab2" type="email"><br>
            <input name="collab3" type="email"><br>
            
          <input type="submit" value="Create a task">
        </form>
    
    </div>
    {% endblock %}
    
        
    <footer>
        <br><br>
        <a href="userLogout">Logout</a>
{% else %}
    <h1>login first trololol</h1>
{% endif %}
</footer>
<!--</body>-->
</html>