<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <head>
    <title>CPSC113 Todo </title>
    
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/readable/bootstrap.min.css" rel="stylesheet" integrity="sha256-1ROOYEu5qE1d8KD4rRwaA0SiMa6HgZbi8wfdUq2Y4KY= sha512-OF8N9v4J29doCMzg5g0dJ6uz/bnqOaMGz1XFy15YomHPsHAhg52BKTqqi6n7n/Fid2V9CZu2SkyEwivsoUTH7Q==" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">-->


{% if not user.is_anonymous %}
    <h1>Welcome, {{user.fl_name}}</h1>
    
    <h1>Add a new task here</h1>
     
    {% if error %}
	    <h3 class="validation-error"><font color = 'red'>{{error}}</font></h3>
	{% endif %}
    <!--to create a new task-->
    <form class = "create-task" action="createTask" method="POST">
        {% csrf_token %}

        {{ task_Form }}
        <br>
        <h4>collaborators</h4>
        <br>
        <input name="collab1" type="email"><br>
        <input name="collab2" type="email"><br>
        <input name="collab3" type="email"><br>
        
        <input type="submit" class = "create-task-submit" value="Create a task">
    </form>
    {% if task_list %}
        <h1>Your Tasks</h1>
        <hr></hr>
        <ul class = "tasks-list">
        {% for task in task_list %}
 
            <li class="tasks-list-item">
                <span class="task-title"><b>Title: </b>{{ task.title }}</span>
                {% if task.isComplete %}
                    <span class="label label-success">Completed :)</span>
                {% else %}
                    
                    <span class="label label-danger">Not Completed</span>
                {% endif %}
                <br>
                <span class="task-description"><b>Description: </b>{{ task.description }}</span>
                <br>
                <b>Owner: </b>{{ task.owner }}
                <br>
                <!--<a href="completeTask">Mark complete</a>-->
                <br>
                {% if user == task.owner %}
                    <form action="deleteTask" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="taskId" value={{task.id}}>
                        <!--<input type="submit" name="delete-task" class="delete-task" value="DELETE ME!!">-->
                        <button type = 'submit' style = 'color: red' class="delete-task">Delete</button>
                    </form>
                {% else %}
                {% endif %}
 
                
                <form action="completeTask" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="taskId" value={{task.id}}>
                    <!--<input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">-->
                    <button type='submit' class="toggle-task" name='toggle-task'>Mark Complete</button>
                </form>

                <hr>
                </hr>

            
            </li>

        {% endfor %}
        </ul>
    {% else %}
        <p>No tasks to show.</p>
    {% endif %}
    

    
        <br><br>
        <a href="userLogout" class="logout">Logout</a>

        <!--<a href="userLogout" class = "logout">Logout</a>-->

{% else %}
    <h1>login first trololol</h1>
{% endif %}
</footer>
<!--</body>-->
</html>